body {
    background-color: #222222;
    color: #333333;
    font-family: Arial narrow;
    margin: 0 0 0 0;
    line-height: 20px;
}

img {
    max-width: 400px;
    width: 100%;
}

.container {
    background: #353d4a;
    background-image: -webkit-linear-gradient(top, #353d4a, #353d4a);
    background-image: -moz-linear-gradient(top, #353d4a, #353d4a);
    background-image: -ms-linear-gradient(top, #353d4a, #353d4a);
    background-image: -o-linear-gradient(top, #353d4a, #353d4a);
    background-image: linear-gradient(to bottom, #353d4a, #353d4a);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    border: solid #43627d 1px;
    text-decoration: none;
    max-width: 600px;
    width: 100%;
}


a {
    text-decoration: none;
    color: #333333;
}


#header {
    height: 60px;
    max-width: 600px;
    background-color: #43627d;
    margin-top: -10px;
}

#title {
    height: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 9px 0px;
    background-color: #43627d;
}

#paragraphOne {
    margin: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#paragraphTwo {
    margin: 0px 0px 0px;
    padding: 0px 10px 20px 10px;
}

#paragraphThree {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px;
}


#footer {
    color: #7f7f7f;
    font-size: 12px;
    text-align: center;
    padding: 10px 10px 0px 10px;
}

.btn {
    background: #19d13e;
    background-image: -webkit-linear-gradient(top, #19d13e, #30a800);
    background-image: -moz-linear-gradient(top, #19d13e, #30a800);
    background-image: -ms-linear-gradient(top, #19d13e, #30a800);
    background-image: -o-linear-gradient(top, #19d13e, #30a800);
    background-image: linear-gradient(to bottom, #19d13e, #30a800);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0px 25px 0px;
    text-decoration: none;
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
}

    .btn:hover {
        background: #12e856;
        background-image: -webkit-linear-gradient(top, #12e856, #4cc70e);
        background-image: -moz-linear-gradient(top, #12e856, #4cc70e);
        background-image: -ms-linear-gradient(top, #12e856, #4cc70e);
        background-image: -o-linear-gradient(top, #12e856, #4cc70e);
        background-image: linear-gradient(to bottom, #12e856, #4cc70e);
        text-decoration: none;
    }

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*=col-] {
    float: left;
    padding: 0 !important;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    padding: 10px;
}

    .grid:after {
        content: "";
        display: table;
        clear: both;
    }

.grid-pad {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
}

.push-right {
    float: right;
}

.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.33%;
}

.col-11-12 {
    width: 91.66%;
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 75%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%;
}

.push-2-3, .push-8-12 {
    margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
    margin-left: 50%;
}

.push-1-3, .push-4-12 {
    margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
    margin-left: 25%;
}

.push-1-5 {
    margin-left: 20%;
}

.push-1-6, .push-2-12 {
    margin-left: 16.667%;
}

.push-1-7 {
    margin-left: 14.28%;
}

.push-1-8 {
    margin-left: 12.5%;
}

.push-1-9 {
    margin-left: 11.1%;
}

.push-1-10 {
    margin-left: 10%;
}

.push-1-11 {
    margin-left: 9.09%;
}

.push-1-12 {
    margin-left: 8.33%;
}

body {
    font-size: 12px;
    height: 100%;
    width: 100%;
    font-family: arial,verdana,tahoma;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.errorMsgs {
    color: red;
}

.content {
    padding: 5px 0;
}

.phoneInput {
    padding: 8px 3px;
}

.operatorSelect {
    background-color: #d4d4d4;
    border: 1px solid #b0b0b0;
    color: #434343;
    font-size: 14px;
    padding: 8px;
}

.actionBtns {
    background-color: #489700;
    border: 1px solid #057300;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-top: 2px;
    padding: 10px;
}

img {
    border: 0;
    width: 100%;
}

.col-1-1, .preloader {
    width: 100%;
}

@media handheld,only screen and max-width767px {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 10px;
    }

    [class*=col-] {
        width: auto;
        float: none;
        padding-left: 0;
        padding-right: 10px;
        margin: 10px 0;
    }

    [class*=mobile-col-] {
        float: left;
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: 0;
        margin: 0 0 10px;
    }

    .mobile-col-1-1 {
        width: 100%;
    }

    .mobile-col-2-3, .mobile-col-8-12 {
        width: 66.66%;
    }

    .mobile-col-1-2, .mobile-col-6-12 {
        width: 50%;
    }

    .mobile-col-1-3, .mobile-col-4-12 {
        width: 33.33%;
    }

    .mobile-col-1-4, .mobile-col-3-12 {
        width: 25%;
    }

    .mobile-col-1-5 {
        width: 20%;
    }

    .mobile-col-1-6, .mobile-col-2-12 {
        width: 16.667%;
    }

    .mobile-col-1-7 {
        width: 14.28%;
    }

    .mobile-col-1-8 {
        width: 12.5%;
    }

    .mobile-col-1-9 {
        width: 11.1%;
    }

    .mobile-col-1-10 {
        width: 10%;
    }

    .mobile-col-1-11 {
        width: 9.09%;
    }

    .mobile-col-1-12 {
        width: 8.33%;
    }

    .mobile-col-11-12 {
        width: 91.66%;
    }

    .mobile-col-10-12 {
        width: 83.333%;
    }

    .mobile-col-9-12 {
        width: 75%;
    }

    .mobile-col-5-12 {
        width: 41.66%;
    }

    .mobile-col-7-12 {
        width: 58.33%;
    }

    .hide-on-mobile {
        display: none !important;
        width: 0;
        height: 0;
    }
}

@media screen and max-width767px {
    .pinFlow {
        display: none;
    }

    .preloader {
        width: 100%;
    }
}

@media (max-width: 240px) {
    #header {
        font-size: 16px;
    }
}

.tracklink1 {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-decoration: none;
}

.warning1 {
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}

.warning2 {
    float: left;
    margin-left: 20px;
    padding-top: 25px;
}

.info1 {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    margin: 20px 10px 0px 5px;
    line-height: 27px;
}

    .info1 font {
        color: red;
        font-weight: bold;
    }

.info2 {
    font-size: 16px;
    color: #ffffff;
    margin: 20px 10px 0px 10px;
}

.info3 {
    color: yellow;
    font-size: 20px;
    margin: 25px 10px 10px 10px;
    text-align: center;
}

#paragraphTwo font {
    color: red;
    font-size: 17px;
}
